* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 16px 16px 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  gap: 32px;
  display: flex;
  flex-direction: row;
}

header img {
  max-height: 20vh;
  max-width: 30vw;
}

header a {
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.second-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 16px;
}

.product-preview img{
  max-width: 30vw;
  max-height: 60vh;
}

.product-info {
  max-width: 30vw;
}

.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}

.last-price span{
  color: #f64749;
  text-decoration: line-through;
}

.new-price span{
  color: #256eff;
}

.product-details h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-details p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-details ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-details ul li{
  margin: 0;
  list-style: none;
  background: url(../../images/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-details ul li span{
  font-weight: 400;
}

.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #f64749;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}